<div class="jumbotron" onload="homePageLoaded()">
        <p style="text-align:left;color:white;font-family:'Open Sans', sans-serif; font-size:28px">Simple Asset Client</p>
        <p style="text-align:left;color:white;font-family:'Open Sans', sans-serif; font-size:18px">
            This is an application developed based on Hyperledger sawtooth and transaction families.
            
            You can:
            <ul style="text-align:left;color:white;font-family:'Open Sans', sans-serif; font-size:18px">
                <li>Add asset into your account.</li>
                <li>Transfer the asset from your account to other's account over the network</li>
                <li>View the assets that belongs to you</li>
            </ul>

        </p>
      </div>
      <script src="../js/main.js"></script>
      <script type="text/javascript">
        homePageLoaded();
      </script>
{{!-- <script src="../js/loginPage.js"></script> --}}
